<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icon.ico">
    <script src="https://unpkg.com/scrollreveal"></script>

  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <main class="experiencias">
      <div class="experiencias-box">
        <div class="minhas-experiencias">
          <h3>Minhas experiência</h3>
          <div class="experiencias-trabalhos">
            <ul>
              <li>
                <div>
                  <img src="../static/image/arrow.png" alt="" />
                  <h4>2022 - Atual - Assistente de TI Help Desk - ACBEU</h4>
                </div>
                <p>
                  Responsável por fornecer suporte técnico completo e atendimento a usuários, resolvendo chamados com eficiência e realizando assistência tanto presencial quanto remota. Responsável pelo suporte em todas as unidades da Maple Bear e ACBEU, assegurando a satisfação dos usuários e a rápida resolução de problemas técnicos.
                </p>
              </li>
              <li>
                <div>
                  <img src="../static/image/arrow.png" alt="" />
                  <h4>2021 - 2022 - Estágio de Desenvolvimento - WebLaunch Solutions</h4>
                </div>
                <p>
                  Desenvolvimento de sites e aplicações web com foco em front-end e back-end.
                  Criação de interfaces responsivas com HTML, CSS, JavaScript e Bootstrap,
                  implementação de funcionalidades server-side com PHP e MySQL.
                </p>
              </li>
              <li>
                <div>
                  <img src="../static/image/arrow.png" alt="" />
                  <h4>2021 - 2022 - Estágio de Suporte Técnico - Maple Bear</h4>
                </div>
                <p>
                  Atendimento técnico a usuários, abordando a resolução de problemas e
                  manutenção de computadores. Suporte presencial e remoto, executando
                  tarefas de manutenção corretiva e preventiva.
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="oque-faco">
          <h3>O que eu faço</h3>        
          <h4>Suporte Técnico</h4>
          <ul>
            <li><img src="../static/image/arrow.png" alt="" />Manutenção</li>
            <li>
              <img src="../static/image/arrow.png" alt="" />Windows, macOS, Linux
            </li>
            <li>
              <img src="../static/image/arrow.png" alt="" />Redes e infraestrutura
            </li>
          </ul>
          <h4>Desenvolvimento</h4>
          <ul>
            <li><img src="../static/image/arrow.png" alt="" />Portifólios</li>
            <li>
              <img src="../static/image/arrow.png" alt="" />Site de Serviços
            </li>
            <li>
              <img src="../static/image/arrow.png" alt="" />Sites Institucionais
            </li>
          </ul>
          <a class="btn fourth botao" href="{{ url_for('portfolio') }}"
          >Ver projetos <img src="../static/image/portifolio.png" alt=""
        /></a>
        </div>
      </div>
      <div class="educacao-cursos-box">
        <div class="habilidades">
            <h3>Cursos</h3>
            <ul>
              <li><img src="../static/image/arrow.png" alt="">ERP</li>
              <li><img src="../static/image/arrow.png" alt="">Capacitação técnica</li>
              <li><img src="../static/image/arrow.png" alt="">Proteção de dados</li>
              <li><img src="../static/image/arrow.png" alt="">Front-end</li>
              <li><img src="../static/image/arrow.png" alt="">Pýthon</li>
              <li><img src="../static/image/arrow.png" alt="">PHP</li>
            </ul>
        </div>
        <div class="educacao-box">
          <h3>Formações</h3>
          <ul>
            <li>
              <div class="curso">
                <h4>Análise e Desenvolvimento de Sistemas</h4>
              </div>
              <div class="data">
                <p>2024 - Atual</p>
              </div>
             
              <div class="local">
                <p>UNICV</p>
              </div>
            </li>
            <li>
              <div class="curso">
                <h4>Engenharia da Computação</h4>
              </div>
              <div class="data">
                <p>2019 - 2024</p>
              </div>
             
              <div class="local">
                <p>UNIFACS</p>
              </div>
            </li>

          </ul>
        </div>
        <div class="cursos-box">
          <h3>Habilidades</h3>
          <div class="cursos-imagens">
            <div class="carrossel">
              <div class="container">
                <img src="../static/image/html-5.png" alt="HTML" />
                <img src="../static/image/css.png" alt="CSS" />
                <img src="../static/image/js.png" alt="JS" />
                <img src="../static/image/react.png" alt="REACT" />
                <img src="../static/image/python.png" alt="PYTHON" />
                <img src="../static/image/sql.png" alt="SQL" />
                <img src="../static/image/boot.png" alt="Bootstrap" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
